{% extends "core/base.html" %}
{% load static i18n crispy_forms_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Change password in Khadra" %}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="text-center mt-4">{% trans "Change your password" %}</h2>
            <div class="form-container m-3 m-md-4 m-lg-5"> <!-- Responsive margins -->
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                <!-- Submit Button -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
                    <button type="submit" class="btn btn-outline-success btn-lg px-5">{% trans "Change" %}</button>
                </div>
                <hr>
                <div class="form-footer">
                    <p>{% trans "Forgot your password ?" %} <a href="{% url 'account_reset_password' %}">{% trans "Rest password here" %}</a></p>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}