
{% extends "core/base.html" %}
{% load static i18n crispy_forms_tags leaflet_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Welcome to Khadra, Lets make Algeria green again." %}{% endblock title %}
{% block css %}
{{ block.super }}
{% leaflet_css plugins="forms" %}
<link rel="stylesheet" href="{% static 'css/location_toggle.css' %}">
{% endblock css %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="text-center mt-4">Welcome to Khadra</h2>
            <div class="form-container m-3 m-md-4 m-lg-5">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <!-- Manual form rendering starts -->
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    
                    <!-- Render other fields normally -->
                    {% for field in form.visible_fields %}
                        {% if field.name != 'geo_location' and field.name != 'city' and field.name != 'location_type' %}
                            {{ field|as_crispy_field }}
                        {% endif %}
                    {% endfor %}

                    <!-- Location Type Toggle Selector -->
                    <div class="location-toggle mb-2">
                        <label class="toggle-btn active" id="city-btn">
                            <input class="toggle-input" type="radio" name="location_type" value="city" checked>
                            {% trans "Select City" %}
                        </label>
                        <label class="toggle-btn" id="geo-btn">
                            <input class="toggle-input" type="radio" name="location_type" value="geo">
                            {% trans "Use Map Location" %}
                        </label>
                    </div>
                    {% if form.geo_location.errors %}
                        {% for error in form.geo_location.errors %}
                            <div class="text-danger text-center font-weight-bold">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    
                    <!-- City Field -->
                    <div id="city-field">
                        {{ form.city|as_crispy_field }}
                    </div>
                    
                    <!-- Geo Location Field -->
                    <div id="geo-location-field">
                        <div class="container-fluid">
                            {{ form.geo_location }}
                        </div>
                        <small class="form-text text-muted">{% trans "Click on the map to select your location" %}</small>
                    </div>
                    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
                        <button type="submit" class="btn btn-success btn-lg px-5">{% trans "Sign up" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/location_toggle.js' %}"></script>
{% leaflet_js plugins="forms" %}
{% endblock scripts %}