{% extends "core/base.html" %}
{% load static i18n crispy_forms_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Welcome to Khadra, Lets make Algeria green again." %}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="text-center mt-4">Welcome to Khadra</h2>
            <div class="form-container m-3 m-md-4 m-lg-5"> <!-- Responsive margins -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <!-- Submit Button -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
                    <button type="submit" class="btn btn-success btn-lg px-5">{% trans "Sign up" %}</button>
                </div>
                </form>
                <hr>
                <div class="form-footer">
                    <p>Already have an account? <a href="#">Sign in here</a></p>
                    <p class="mt-2">By registering, you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p>
                </div>
                
                
            </div>
        </div>
    </div>
</div>


{% endblock content %}